:root {
  /* Animation Properties */
  --animation-duration: 0s;

  /* HAPPY PROPERTIES */
  --happy-colour: seagreen;
  --happy-animation-downward-state: paused;
  --happy-animation-upward-state: running;
  --happy-animation-fadeout-state: running;
  --happy-animation-stretch-state: running;
  --happy-animation-squish-state: paused;
  --happy-animation-shake-state: paused;
  --happy-animation-heartbeat-state: paused;
  --happy-animation-heartbeat-speed: 5s;

  /* SAD PROPERTIES */
  --sad-colour: blue;
  --sad-animation-downward-state: running;
  --sad-animation-upward-state: paused;
  --sad-animation-fadeout-state: running;
  --sad-animation-stretch-state: paused;
  --sad-animation-squish-state: running;
  --sad-animation-shake-state: paused;
  --sad-animation-heartbeat-state: paused;
  --sad-animation-heartbeat-speed: 5s;

  /* FEAR PROPERTIES */
  --fear-colour: orange;
  --fear-animation-downward-state: paused;
  --fear-animation-upward-state: paused;
  --fear-animation-fadeout-state: paused;
  --fear-animation-stretch-state: paused;
  --fear-animation-squish-state: paused;
  --fear-animation-shake-state: running;
  --fear-animation-heartbeat-state: running;
  --fear-animation-heartbeat-speed: 5s;

  /* ANGER PROPERTIES */
  --anger-colour: red;
  --anger-animation-downward-state: paused;
  --anger-animation-upward-state: paused;
  --anger-animation-fadeout-state: paused;
  --anger-animation-stretch-state: paused;
  --anger-animation-squish-state: paused;
  --anger-animation-shake-state: running;
  --anger-animation-heartbeat-state: running;
  --anger-animation-heartbeat-speed: 5s;

  /* SURPRISE PROPERTIES */
  --surprise-colour: yellow;
  --surprise-animation-downward-state: paused;
  --surprise-animation-upward-state: paused;
  --surprise-animation-fadeout-state: paused;
  --surprise-animation-stretch-state: running;
  --surprise-animation-squish-state: paused;
  --surprise-animation-shake-state: running;
  --surprise-animation-heartbeat-state: paused;
  --surprise-animation-heartbeat-speed: 5s;
}

@keyframes upward {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-30px);
  }
}

@keyframes stretch {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(1.1);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes downward {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}

@keyframes squish {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.7);
  }
}

@keyframes shake {
  100% {
    top: -5px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  16% {
    transform: scale(1.1);
  }
  32% {
    transform: scale(1);
  }
  48% {
    transform: scale(1.1);
  }
  64% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* HAPPY ANIMATIONS */

.happy {
  display: inline-block;
  color: var(--happy-colour);
  animation: fadeout var(--animation-duration);
  animation-play-state: var(--happy-animation-fadeout-state);
  transition: 0.3s;
}

#happy-animation-upward-span {
  display: inline-block;
  animation: upward var(--animation-duration);
  animation-play-state: var(--happy-animation-upward-state);
  transition: 0.3;
}
#happy-animation-downward-span {
  display: inline-block;
  animation: downward var(--animation-duration);
  animation-play-state: var(--happy-animation-downward-state);
  transition: 0.3;
}
#happy-animation-stretch-span {
  display: inline-block;
  animation: stretch var(--animation-duration);
  animation-play-state: var(--happy-animation-stretch-state);
  transition: 0.3;
}
#happy-animation-squish-span {
  display: inline-block;
  animation: squish var(--animation-duration);
  animation-play-state: var(--happy-animation-squish-state);
  transition: 0.3;
}
#happy-animation-heartbeat-span {
  display: inline-block;
  animation: heartbeat var(--happy-animation-heartbeat-speed) infinite;
  animation-play-state: var(--happy-animation-heartbeat-state);
  transition: 0.3;
}

/* SAD ANIMATIONS */

.sad {
  display: inline-block;
  color: var(--sad-colour);
  animation: fadeout var(--animation-duration);
  animation-play-state: var(--sad-animation-fadeout-state);
  transition: 0.3s;
}

#sad-animation-upward-span {
  display: inline-block;
  animation: upward var(--animation-duration);
  animation-play-state: var(--sad-animation-upward-state);
  transition: 0.3;
}
#sad-animation-downward-span {
  display: inline-block;
  animation: downward var(--animation-duration);
  animation-play-state: var(--sad-animation-downward-state);
  transition: 0.3;
}
#sad-animation-stretch-span {
  display: inline-block;
  animation: stretch var(--animation-duration);
  animation-play-state: var(--sad-animation-stretch-state);
  transition: 0.3;
}
#sad-animation-squish-span {
  display: inline-block;
  animation: squish var(--animation-duration);
  animation-play-state: var(--sad-animation-squish-state);
  transition: 0.3;
}
#sad-animation-heartbeat-span {
  display: inline-block;
  animation: heartbeat var(--sad-animation-heartbeat-speed) infinite;
  animation-play-state: var(--sad-animation-heartbeat-state);
  transition: 0.3;
}

/* FEAR ANIMATIONS */

.fear {
  display: inline-block;
  color: var(--fear-colour);
  animation: fadeout var(--animation-duration);
  animation-play-state: var(--fear-animation-fadeout-state);
  transition: 0.3s;
}

#fear-animation-upward-span {
  display: inline-block;
  animation: upward var(--animation-duration);
  animation-play-state: var(--fear-animation-upward-state);
  transition: 0.3;
}
#fear-animation-downward-span {
  display: inline-block;
  animation: downward var(--animation-duration);
  animation-play-state: var(--fear-animation-downward-state);
  transition: 0.3;
}
#fear-animation-stretch-span {
  display: inline-block;
  animation: stretch var(--animation-duration);
  animation-play-state: var(--fear-animation-stretch-state);
  transition: 0.3;
}
#fear-animation-squish-span {
  display: inline-block;
  animation: squish var(--animation-duration);
  animation-play-state: var(--fear-animation-squish-state);
  transition: 0.3;
}
#fear-animation-heartbeat-span {
  display: inline-block;
  animation: heartbeat var(--fear-animation-heartbeat-speed) infinite;
  animation-play-state: var(--fear-animation-heartbeat-state);
  transition: 0.3;
}

/* ANGER ANIMATIONS */

.anger {
  display: inline-block;
  color: var(--anger-colour);
  animation: fadeout var(--animation-duration);
  animation-play-state: var(--anger-animation-fadeout-state);
  transition: 0.3s;
}

#anger-animation-upward-span {
  display: inline-block;
  animation: upward var(--animation-duration);
  animation-play-state: var(--anger-animation-upward-state);
  transition: 0.3;
}
#anger-animation-downward-span {
  display: inline-block;
  animation: downward var(--animation-duration);
  animation-play-state: var(--anger-animation-downward-state);
  transition: 0.3;
}
#anger-animation-stretch-span {
  display: inline-block;
  animation: stretch var(--animation-duration);
  animation-play-state: var(--anger-animation-stretch-state);
  transition: 0.3;
}
#anger-animation-squish-span {
  display: inline-block;
  animation: squish var(--animation-duration);
  animation-play-state: var(--anger-animation-squish-state);
  transition: 0.3;
}
#anger-animation-heartbeat-span {
  display: inline-block;
  animation: heartbeat var(--anger-animation-heartbeat-speed) infinite;
  animation-play-state: var(--anger-animation-heartbeat-state);
  transition: 0.3;
}

/* SURPRISE ANIMATIONS */

.surprise {
  display: inline-block;
  color: var(--surprise-colour);
  animation: fadeout var(--animation-duration);
  animation-play-state: var(--surprise-animation-fadeout-state);
  transition: 0.3s;
}

#surprise-animation-upward-span {
  display: inline-block;
  animation: upward var(--animation-duration);
  animation-play-state: var(--surprise-animation-upward-state);
  transition: 0.3;
}
#surprise-animation-downward-span {
  display: inline-block;
  animation: downward var(--animation-duration);
  animation-play-state: var(--surprise-animation-downward-state);
  transition: 0.3;
}
#surprise-animation-stretch-span {
  display: inline-block;
  animation: stretch var(--animation-duration);
  animation-play-state: var(--surprise-animation-stretch-state);
  transition: 0.3;
}
#surprise-animation-squish-span {
  display: inline-block;
  animation: squish var(--animation-duration);
  animation-play-state: var(--surprise-animation-squish-state);
  transition: 0.3;
}
#surprise-animation-heartbeat-span {
  display: inline-block;
  animation: heartbeat var(--surprise-animation-heartbeat-speed) infinite;
  animation-play-state: var(--surprise-animation-heartbeat-state);
  transition: 0.3;
}

/* SHAKE ANIMATIONS */

span.happy span {
  position: relative;
  top: 5px;
  margin-right: 1;
  display: inline-block;
  animation: shake 0.3s ease infinite alternate;
  animation-delay: calc(0.1s * var(--index));
  animation-play-state: var(--happy-animation-shake-state);
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

span.sad span {
  position: relative;
  top: 5px;
  margin-right: 1;
  display: inline-block;
  animation: shake 0.3s ease infinite alternate;
  animation-delay: calc(0.1s * var(--index));
  animation-play-state: var(--sad-animation-shake-state);
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

span.fear span {
  position: relative;
  top: 5px;
  margin-right: 1;
  display: inline-block;
  animation: shake 0.3s ease infinite alternate;
  animation-delay: calc(0.1s * var(--index));
  animation-play-state: var(--fear-animation-shake-state);
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

span.anger span {
  position: relative;
  top: 5px;
  margin-right: 1;
  display: inline-block;
  animation: shake 0.3s ease infinite alternate;
  animation-delay: calc(0.1s * var(--index));
  animation-play-state: var(--anger-animation-shake-state);
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

span.surprise span {
  position: relative;
  top: 5px;
  margin-right: 1;
  display: inline-block;
  animation: shake 0.3s ease infinite alternate;
  animation-delay: calc(0.1s * var(--index));
  animation-play-state: var(--surprise-animation-shake-state);
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

span {
  white-space: pre;
}
