#video {
  float: left;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 13;
  z-index: 2;
}

#sad-heartbeat-speed-range {
  direction: rtl;
}

#happy-heartbeat-speed-range {
  direction: rtl;
}

#fear-heartbeat-speed-range {
  direction: rtl;
}

#anger-heartbeat-speed-range {
  direction: rtl;
}

#surprise-heartbeat-speed-range {
  direction: rtl;
}

#display {
  font-size: 42px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: 500;
  text-align: center;
  border: black 1px;
  z-index: 300000;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 11;
  grid-row-end: 12;
  pointer-events: none;
  display: inline-block;
}

video {
  height: 100%;
  width: 100%;
}

#body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(12 1fr);
  height: auto;
}

body {
  background-color: black;
}

#video-card {
  max-width: 75%;
  margin: auto;
  background-color: black;
  box-shadow: 10px 10px 5px #1a1a1a;
}

#navbar-container {
  width: 100%;
  margin: auto;
  max-width: 100% !important;
}

#settings-container {
  margin: auto;
  max-width: 75% !important;
}
