<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Webpage</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/emotions.css') }}">
  </head>

  <body>
    <div class="container" id="navbar-container">
      <!-- Navigation Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark">
        <h1><a class="navbar-brand" href="#">Immersify</a></h1>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Saved</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="card text-white bg-dark mb-3" id="video-card">
      <div class="card-body" id="body">
      <!-- Video -->

      {% set vid_file_path = video_id+"/"+video_id+"_video.mp4" %}
      {% set sub_file_path = video_id+"/"+video_id+"_emotive_subtitles.vtt" %}
        <video id="video" controls preload="metadata">
          <source
            src="{{ url_for('static', filename='videos/' ~ vid_file_path) | safe }}"
            type="video/mp4"
          />
          <track
            label="English"
            kind="subtitles"
            srclang="en"
            src="{{ url_for('static', filename='videos/' ~ sub_file_path) | safe }}"
            default
          />

          <div id="video-controls" class="controls" data-state="hidden">
            <button id="playpause" type="button" data-state="play">
              Play/Pause
            </button>
            <button id="stop" type="button" data-state="stop">Stop</button>
            <div class="progress">
              <progress id="progress" value="0" min="0">
                <span id="progress-bar"></span>
              </progress>
            </div>
            <button id="mute" type="button" data-state="mute">Mute/Unmute</button>
            <button id="volinc" type="button" data-state="volup">Vol+</button>
            <button id="voldec" type="button" data-state="voldown">Vol-</button>
            <button id="fs" type="button" data-state="go-fullscreen">
              Fullscreen
            </button>
            <button id="subtitles" type="button" data-state="subtitles">
              CC
            </button>
          </div>
        </video>
        <!-- Subtitle -->
        <div id="display">
        </div>
      </div>
    </div>
    <div class="accordion text-white w-75 m-auto" id="accordion-settings">
      <div class="accordion-item bg-secondary">
        <h1 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Subtitle Settings
          </button>
        </h1>
        <div id="collapseOne" class="accordion-collapse collapse show bg-dark" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="container">
              <div class="row text-center">
                <div class="col">
                  <h2>
                    <sad>
                    Sad
                    </sad>
                  </h2>
                </div>
                <div class="col">
                  <h2>
                    <happy>
                    Happy
                    </happy>
                  </h2>
                </div>
                <div class="col">
                  <h2>
                    <fear>
                    Fear
                    </fear>
                  </h2>
                </div>
                <div class="col">
                  <h2>
                    <anger>
                    Anger
                    </anger>
                  </h2>
                </div>
              </div>
              <div class="row text-center">
                <div class="col">
                  <h4>Animation</h4>
                </div>
              </div>
              <div class="row text-left justify-content-center">
              {# Sad Subtitle Settings #}
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="sad-downward-check" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                      Downward Movement
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="sad-fadeout-check" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Fade Out
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="sad-squish-check" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Text Height Squish
                    </label>
                  </div>
                  <input type="color" id="sad-colour-pick" name="sad-colour" value="blue">
                </div>
                {# Happy Subtitle Settings #}
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="happy-upward-check" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                      Upward Movement
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="happy-fadeout-check" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Fade Out
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="happy-stretch-check" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Text Height Stretch
                    </label>
                  </div>
                  <input type="color" id="happy-colour-pick" name="sad-colour" value="seagreen">
                </div>
                {# Fear Subtitle Settings #}
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                      Heart Beat
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Fade Out
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Text Shake
                    </label>
                  </div>
                  <input type="color" id="fear-colour-pick" name="fear-colour" value="orange">
                </div>
                {# Anger Subtitle Settings #}
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                      Heart Beat
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Fade Out
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Text Shake
                    </label>
                  </div>
                  <input type="color" id="anger-colour-pick" name="anger-colour" value="red">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <script>
        for (var i = 0; i < video.textTracks.length; i++) {
          video.textTracks[i].mode = 'hidden';
        }

        tracks = document.querySelector('video').textTracks;
        track = tracks[0];
        track.addEventListener('cuechange', function () {
          let cues = track.activeCues;  // array of current cues
          if (cues.length != 0){
            // Calculate animation time from subtitle duration and convert to miliseconds
            let animationTime = Math.ceil((cues[0].endTime-cues[0].startTime)*1000)+10;
            console.log(animationTime);
            document.documentElement.style.setProperty('--animation-duration', animationTime+"ms");
            document.getElementById("display").innerHTML = cues[0].text;
          }else{
            document.getElementById("display").innerHTML = "";
          }
        });

        // Sad Emotion Animations

        sad_fadeout_check = document.getElementById("sad-fadeout-check");

        sad_fadeout_check.addEventListener("change", function() {
          if (this.checked) {
            document.documentElement.style.setProperty('--sad-animation-fadeout-state', "running");
          }else {
            document.documentElement.style.setProperty('--sad-animation-fadeout-state', "paused");
          }
        });
        
        sad_downward_check = document.getElementById("sad-downward-check");

        sad_downward_check.addEventListener("change", function() {
          if (this.checked) {
            document.documentElement.style.setProperty('--sad-animation-downward-state', "running");
          }else {
            document.documentElement.style.setProperty('--sad-animation-downward-state', "paused");
          }
        });

        sad_squish_check = document.getElementById("sad-squish-check");

        sad_squish_check.addEventListener("change", function() {
          if (this.checked) {
            document.documentElement.style.setProperty('--sad-animation-squish-state', "running");
          }else {
            document.documentElement.style.setProperty('--sad-animation-squish-state', "paused");
          }
        });

        sad_colour_pick = document.getElementById("sad-colour-pick");

        sad_colour_pick.addEventListener("change", function() {
          document.documentElement.style.setProperty('--sad-colour', this.value);
        });

        // Happy Emotion Animations

        happy_upward_check = document.getElementById("happy-upward-check");

        happy_upward_check.addEventListener("change", function() {
          if (this.checked) {
            document.documentElement.style.setProperty('--happy-animation-upward-state', "running");
          }else {
            document.documentElement.style.setProperty('--happy-animation-upward-state', "paused");
          }
        });

        happy_stretch_check = document.getElementById("happy-stretch-check");

        happy_stretch_check.addEventListener("change", function() {
          if (this.checked) {
            document.documentElement.style.setProperty('--happy-animation-enlarge-state', "running");
          }else {
            document.documentElement.style.setProperty('--happy-animation-enlarge-state', "paused");
          }
        });
        
        happy_fadeout_check = document.getElementById("happy-fadeout-check");

        happy_fadeout_check.addEventListener("change", function() {
          if (this.checked) {
            document.documentElement.style.setProperty('--happy-animation-fadeout-state', "running");
          }else {
            document.documentElement.style.setProperty('--happy-animation-fadeout-state', "paused");
          }
        });
      </script>
    </div>
  </body>
</html>
