<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Webpage</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/emotions.css') }}">
  </head>

  <body>
    <div class="container" id="navbar-container">
      <!-- Navigation Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark">
        <h1><a class="navbar-brand" href="#">Immersify</a></h1>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Saved</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="card text-white bg-dark mb-3" id="video-card">
      <div class="card-body" id="body">
      <!-- Video -->

      {% set vid_file_path = video_id+"/"+video_id+"_video.mp4" %}
      {% set sub_file_path = video_id+"/"+video_id+"_emotive_subtitles.vtt" %}
        <video id="video" controls preload="metadata">
          <source
            src="{{ url_for('static', filename='videos/' ~ vid_file_path) | safe }}"
            type="video/mp4"
          />
          <track
            label="English"
            kind="subtitles"
            srclang="en"
            src="{{ url_for('static', filename='videos/' ~ sub_file_path) | safe }}"
            default
          />

          <div id="video-controls" class="controls" data-state="hidden">
            <button id="playpause" type="button" data-state="play">
              Play/Pause
            </button>
            <button id="stop" type="button" data-state="stop">Stop</button>
            <div class="progress">
              <progress id="progress" value="0" min="0">
                <span id="progress-bar"></span>
              </progress>
            </div>
            <button id="mute" type="button" data-state="mute">Mute/Unmute</button>
            <button id="volinc" type="button" data-state="volup">Vol+</button>
            <button id="voldec" type="button" data-state="voldown">Vol-</button>
            <button id="fs" type="button" data-state="go-fullscreen">
              Fullscreen
            </button>
            <button id="subtitles" type="button" data-state="subtitles">
              CC
            </button>
          </div>
        </video>
        <!-- Subtitle -->
        <div id="display">
        </div>
      </div>
    </div>
    <div class="container"><p class="text-white" id="emotion-confidence-debug" style="visibility: hidden;"></p></div>
    <div class="accordion text-white w-75 m-auto" id="accordion-settings">
      <div class="accordion-item bg-secondary">
        <h1 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Subtitle Settings
          </button>
        </h1>
        <div id="collapseOne" class="accordion-collapse collapse show bg-dark" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="container" id="subtitle-settings-container">
              <!-- Default switch -->
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="toggle-subtitle-check" checked>
                <label class="custom-control-label" for="toggle-subtitle-check">Toggle Subtitles</label>
              </div>
               <!-- Default switch -->
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="toggle-emotion-debug-check">
                <label class="custom-control-label" for="toggle-emotion-debug-check">Toggle Emotion Debug</label>
              </div>
              <div class="row text-center">
                <div class="col">
                  <h2>
                    <h3>
                    Sad
                    </h3>
                  </h2>
                </div>
                <div class="col">
                  <h2>
                    <h3>
                    Happy
                    </h3>
                  </h2>
                </div>
                <div class="col">
                  <h2>
                    <h3>
                    Fearful
                    </h3>
                  </h2>
                </div>
                <div class="col">
                  <h2>
                    <h3>
                    Angry
                    </h3>
                  </h2>
                </div>
                <div class="col">
                  <h2>
                    <h3>
                    Surprised
                    </h3>
                  </h2>
                </div>
              </div>
              <div class="row text-center">
                <div class="col">
                  <h4>Animation</h4>
                </div>
              </div>
              <div class="row text-left justify-content-center">
              {# Sad Subtitle Settings #}
                <div class="col">
                  <h5>Movement</h5>

                  <div class="form-check movement-setting">
                      <form>
                        <input class="form-check-input movement-disabled" type="radio" name="--sad-animation" id="--sad-animation">
                        <label class="form-check-label" for="--sad-animation">
                          No Movement
                        </label>
                        <br>
                        <input class="form-check-input" type="radio" name="--sad-animation" id="--sad-animation-upward-state">
                        <label class="form-check-label" for="--sad-animation-upward-state">
                          Upward
                        </label>
                        <br>
                        <input class="form-check-input" type="radio" name="--sad-animation" id="--sad-animation-downward-state" checked>
                        <label class="form-check-label" for="--sad-animation-downward-state">
                          Downward
                        </label>
                      </form>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="sad-fadeout-check" name="--sad-animation-fadeout-state" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Fade Out
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="sad-squish-check" name="--sad-animation-stretch-state">
                    <label class="form-check-label" for="flexCheckChecked">
                      Text Height Stretch
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="sad-squish-check" name="--sad-animation-squish-state" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Text Height Squish
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="fear-shake-check" name="--sad-animation-shake-state">
                    <label class="form-check-label" for="flexCheckChecked">
                      Text Shake
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="fear-shake-check" name="--sad-animation-heartbeat-state">
                    <label class="form-check-label" for="flexCheckChecked">
                      Heartbeat
                    </label>
                  </div>
                  <input type="color" id="sad-colour-pick" name="--sad-colour" value="blue">
                </div>
                {# Happy Subtitle Settings #}
                <div class="col">
                  <h5>Movement</h5>

                  <div class="form-check movement-setting">
                      <form>
                        <input class="form-check-input movement-disabled" type="radio" name="--happy-animation" id="--happy-animation">
                        <label class="form-check-label" for="--happy-animation">
                          No Movement
                        </label>
                        <br>
                        <input class="form-check-input" type="radio" name="--happy-animation" id="--happy-animation-upward-state" checked>
                        <label class="form-check-label" for="--happy-animation-upward-state">
                          Upward
                        </label>
                        <br>
                        <input class="form-check-input" type="radio" name="--happy-animation" id="--happy-animation-downward-state">
                        <label class="form-check-label" for="--happy-animation-downward-state">
                          Downward
                        </label>
                      </form>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="happy-fadeout-check" name="--happy-animation-fadeout-state">
                    <label class="form-check-label" for="flexCheckChecked">
                      Fade Out
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="happy-squish-check" name="--happy-animation-stretch-state" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Text Height Stretch
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="happy-squish-check" name="--happy-animation-squish-state">
                    <label class="form-check-label" for="flexCheckChecked">
                      Text Height Squish
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="happy-shake-check" name="--happy-animation-shake-state">
                    <label class="form-check-label" for="flexCheckChecked">
                      Text Shake
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="happy-shake-check" name="--happy-animation-heartbeat-state">
                    <label class="form-check-label" for="flexCheckChecked">
                      Heartbeat
                    </label>
                  </div>
                  <input type="color" id="happy-colour-pick" name="--happy-colour" value="seagreen">
                </div>
                {# Fear Subtitle Settings #}
                <div class="col">
                  <h5>Movement</h5>

                  <div class="form-check movement-setting">
                      <form>
                        <input class="form-check-input movement-disabled" type="radio" name="--fear-animation" id="--fear-animation" checked>
                        <label class="form-check-label" for="--fear-animation">
                          No Movement
                        </label>
                        <br>
                        <input class="form-check-input" type="radio" name="--fear-animation" id="--fear-animation-upward-state">
                        <label class="form-check-label" for="--fear-animation-upward-state">
                          Upward
                        </label>
                        <br>
                        <input class="form-check-input" type="radio" name="--fear-animation" id="--fear-animation-downward-state">
                        <label class="form-check-label" for="--fear-animation-downward-state">
                          Downward
                        </label>
                      </form>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="fear-fadeout-check" name="--fear-animation-fadeout-state">
                    <label class="form-check-label" for="flexCheckChecked">
                      Fade Out
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="fear-squish-check" name="--fear-animation-stretch-state">
                    <label class="form-check-label" for="flexCheckChecked">
                      Text Height Stretch
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="fear-squish-check" name="--fear-animation-squish-state">
                    <label class="form-check-label" for="flexCheckChecked">
                      Text Height Squish
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="fear-shake-check" name="--fear-animation-shake-state" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Text Shake
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="fear-shake-check" name="--fear-animation-heartbeat-state" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Heartbeat
                    </label>
                  </div>
                  <input type="color" id="fear-colour-pick" name="--fear-colour" value="orange">
                </div>
                {# Anger Subtitle Settings #}
                <div class="col">

                  <h5>Movement</h5>

                  <div class="form-check movement-setting">
                      <form>
                        <input class="form-check-input movement-disabled" type="radio" name="--anger-animation" id="--anger-animation" checked>
                        <label class="form-check-label" for="--fear-animation">
                          No Movement
                        </label>
                        <br>
                        <input class="form-check-input" type="radio" name="--anger-animation" id="--anger-animation-upward-state">
                        <label class="form-check-label" for="--anger-animation-upward-state">
                          Upward
                        </label>
                        <br>
                        <input class="form-check-input" type="radio" name="--anger-animation" id="--anger-animation-downward-state">
                        <label class="form-check-label" for="--anger-animation-downward-state">
                          Downward
                        </label>
                      </form>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="anger-fadeout-check" name="--anger-animation-fadeout-state">
                    <label class="form-check-label" for="flexCheckChecked">
                      Fade Out
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="anger-squish-check" name="--anger-animation-stretch-state">
                    <label class="form-check-label" for="flexCheckChecked">
                      Text Height Stretch
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="anger-squish-check" name="--anger-animation-squish-state">
                    <label class="form-check-label" for="flexCheckChecked">
                      Text Height Squish
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="anger-shake-check" name="--anger-animation-shake-state" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Text Shake
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="anger-shake-check" name="--anger-animation-heartbeat-state" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Heartbeat
                    </label>
                  </div>
                  <input type="color" id="anger-colour-pick" name="--anger-colour" value="red">
                </div>

                {# Surprise Subtitle Settings #}
                <div class="col">

                  <h5>Movement</h5>

                  <div class="form-check movement-setting">
                      <form>
                        <input class="form-check-input movement-disabled" type="radio" name="--surprise-animation" id="--surprise-animation" checked>
                        <label class="form-check-label" for="--surprise-animation">
                          No Movement
                        </label>
                        <br>
                        <input class="form-check-input" type="radio" name="--surprise-animation" id="--surprise-animation-upward-state">
                        <label class="form-check-label" for="--surprise-animation-upward-state">
                          Upward
                        </label>
                        <br>
                        <input class="form-check-input" type="radio" name="--surprise-animation" id="--surprise-animation-downward-state">
                        <label class="form-check-label" for="--surprise-animation-downward-state">
                          Downward
                        </label>
                      </form>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="surprise-fadeout-check" name="--surprise-animation-fadeout-state">
                    <label class="form-check-label" for="flexCheckChecked">
                      Fade Out
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="surprise-squish-check" name="--surprise-animation-stretch-state" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Text Height Stretch
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="surprise-squish-check" name="--surprise-animation-squish-state">
                    <label class="form-check-label" for="flexCheckChecked">
                      Text Height Squish
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="surprise-shake-check" name="--surprise-animation-shake-state" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Text Shake
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="surprise-shake-check" name="--surprise-animation-heartbeat-state">
                    <label class="form-check-label" for="flexCheckChecked">
                      Heartbeat
                    </label>
                  </div>
                  <input type="color" id="surprise-colour-pick" name="--surprise-colour" value="yellow">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <script>
        for (var i = 0; i < video.textTracks.length; i++) {
          video.textTracks[i].mode = 'hidden';
        }

        tracks = document.querySelector('video').textTracks;
        track = tracks[0];
        let subtitle_container = document.getElementById("display"); // HTML container containing the subtitles
        let emotion_debug_container = document.getElementById("emotion-confidence-debug"); // HTML container containing emotion debug information about subtitles

        track.addEventListener('cuechange', function () {
          emotion_debug_container.innerHTML = "";
          subtitle_container.innerHTML = "";
          
          let cues = track.activeCues;  // array of current cues
          let cue = cues[0]; // current cue
          
          console.log(cues);
          console.log(cue);

          if (cues.length != 0){
            // Calculate animation time from subtitle duration and convert to miliseconds
            let animationTime = Math.ceil((cue.endTime-cue.startTime)*1000)+10;
            document.documentElement.style.setProperty('--animation-duration', animationTime+"ms"); // update the animation time to match the current cue duration

            emotion_debug_container.innerHTML = cue.id;
            let x = new DOMParser().parseFromString(cue.text, 'text/html').body.childNodes;

            const span = (text, index) => {
                const node = document.createElement('span');
                node.textContent = text;
                node.style.setProperty('--index', index+1)
                return node
              }

              

            let parent = document.createElement('p');
            parent = subtitle_container.appendChild(parent);

            console.log(x);

            x.forEach(x =>{
              child = document.createElement('span');

              if(x.id){
                child.classList.add(x.id);
              }

              [...x.innerText].map(span).forEach(el => {
                  child.appendChild(el)
                })

            parent.appendChild(child);
            })

            // Cue gets written to the HTML subtitle container
            // subtitle_container.innerHTML = cues[0].text;
          }else{
            // If no cue is present erase the content of the HTML subtitle container
            emotion_debug_container.innerHTML = "";
            subtitle_container.innerHTML = "";
          }
        });
        toggle_emotion_debug_check = document.getElementById("toggle-emotion-debug-check");
        toggle_subtitle_check = document.getElementById("toggle-subtitle-check");

        toggle_emotion_debug_check.addEventListener("change", function() {
          if (this.checked) {
            document.getElementById("emotion-confidence-debug").style.visibility = "visible";
          }else {
            document.getElementById("emotion-confidence-debug").style.visibility = "hidden";
          }
        });

        toggle_subtitle_check.addEventListener("change", function() {
          if (this.checked) {
            document.getElementById("display").style.visibility = "visible";
          }else {
            document.getElementById("display").style.visibility = "hidden";
          }
        });
        
        // SUBTITLE SETTINGS SELECTOR

        var subtitle_settings_container = document.getElementById("subtitle-settings-container");

        subtitle_settings_container.querySelectorAll(".movement-setting").forEach(setting => {
          setting.querySelectorAll("input").forEach(input => {
            input.addEventListener('change', function(){
              if (input.className.includes("movement-disabled")){
                console.log(input.id+"-downward-state");
                console.log(input.id+"-upward-state");
                document.documentElement.style.setProperty((input.id+"-downward-state"), "paused"); 
                document.documentElement.style.setProperty((input.id+"-upward-state"), "paused"); 
              }else{
                if (input.id.includes("-downward-state")){
                  document.documentElement.style.setProperty((input.name+"-downward-state"), "running"); 
                  document.documentElement.style.setProperty((input.name+"-upward-state"), "paused"); 
                }else{
                  document.documentElement.style.setProperty((input.name+"-downward-state"), "paused"); 
                  document.documentElement.style.setProperty((input.name+"-upward-state"), "running"); 
                }
              }
            })
          })
        })

        subtitle_settings_container.querySelectorAll("input").forEach(input => {

          // All Checkbox Inputs
          if (input.type === "checkbox"){
            if (input.parentElement.className == "movement-setting"){

            }else{
            input.addEventListener('change', function() {
              if (this.checked) {
                document.documentElement.style.setProperty(this.name, "running");
              }else {
                document.documentElement.style.setProperty(this.name, "paused");
              }
            })
            }
          // All Colour Inputs
          }else if (input.type === "color"){
            input.addEventListener('change', function() {
              document.documentElement.style.setProperty(this.name, this.value);
            })
            // TODO: RANGE INPUTS
          }else if (input.type === "range"){
            input.addEventListener('input', function() {
              value = this.value;
              document.documentElement.style.setProperty(this.name, this.value);
            })
          }
          
        });

      </script>
    </div>
  </body>
</html>
